@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR:wght@300&display=swap');
@font-face {
    font-family: 'Silom';
    src: url('./src/Silom.ttf');
}
body{
    font-family: 'Silom';
}

.MainPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 5px;
}
.MainPage a{
    font-family: 'Silom';
    text-decoration: none;
    font-size: 100px;
    /* color: #E94420; */
    color: #000000;
}
