html, body {margin: 0px; padding: 0px;}
@font-face {
    font-family: 'Head';
    src: url('../src/Head.otf');
    
}
@font-face{
    font-family: 'Body';
    src: url('../src/Body.otf');
}

@font-face{
    font-family: 'CMF';
    src: url('../src/CaseMinorFont.otf');
}

@font-face{
    font-family: 'CMF2';
    src: url('../src/CaseMinorFont22.otf');
}

@font-face{
    font-family: 'CCMF';
    src: url('../src/CCMF.otf');
}
@font-face{
    font-family: 'CCMF2';
    src: url('../src/CCMF2.otf');
}




.Header{
    font-family: 'CCMF2';
}

.sidebar{
    font-family: 'CCMF2';
}

body{
    font-family: 'CCMF2';
}
@media (max-width : 300px) {
    .IntroText{
        font-size: 15px;
        margin-top: 20px;
        margin-left: 3%;
    }    
    .sidebar{
        font-size: 15px;
    }
    .sidebar ul{
        margin-top: 20%;
        
    }
    .sidebar ul span {
        display: flex;
        margin-top: 70%;
    }
    
    .BtnContainer{
        width: 15px;
        height: 15px;
        margin-right: 1.5vh;
    }
    
    .sidebar .Header .IntroText{
        margin-left: 3%;
        font-size: 15px;
    }
    
    .scroll--element {width: 40%;height: 20vh;}
    .scroll--element2 {width: 40%; font-size:12px;}
    .wrap {max-width:95%; height: 25vh;}
    
    .TextBox{
        font-size: 5px;
    }
    
}
@media (min-width : 300px) {
    .IntroText{
        font-size: 22px;
        margin-left: 1.5vh;

    }
    .sidebar{
        font-size: 22px;
    }

    .sidebar ul{
        margin-top: 20%;
        
    }
    .sidebar ul span {
        display: flex;
        margin-top: 65%;
    }
    
    .BtnContainer{
        width: 20px;
        height: 20px;
    }
    .BtnContainer{
        margin-right: 1.5vh;
    }
    .sidebar .Header .IntroText{
        margin-left: 1.5vh;
    }
    .scroll--element {width: 40%;height: 30vh;}
    .scroll--element2 {width: 40%; font-size:17px;}
    .wrap {max-width:95%; height: 35vh;}

}

@media (min-width : 400px){
    .scroll--element2 {font-size: 20px;}
    .wrap {max-width:95%; height: 35vh;}
}


@media (min-width : 540px){
    .sidebar ul{
        margin-top: 15%;
    }
    .IntroText{
        margin-left: 2vh;
    }
    .sidebar .Header .IntroText{
        margin-left: 2vh;
    }
    .sidebar ul span {
        display: flex;
        margin-top: 45%;
    }
    .BtnContainer{
        margin-right: 2vh;
    }

    .scroll--element2 {font-size:20px;}
    .wrap {max-width:95%; height: 40vh;}
}

@media (min-width : 600px){
    .IntroText{
        font-size: 27px;
        margin-left: 20px;

    }
    .sidebar{
        font-size: 19px;
    }
    .sidebar ul{
        margin-top: 15%;
    }
    .sidebar ul span {
        display: flex;
        margin-top: 50%;
    }

    .sidebar .Header .IntroText{
        margin-left: 20px;
    }
    
    .BtnContainer{
        margin-right: 4.5vh;
    }
    .scroll--element2 {font-size:20px;}
    .wrap {max-width:95%; height: 40vh;}
}

@media (min-width : 768px){
    .IntroText{
        margin-left: 20px;
        font-size: 35px;
    }

    .sidebar ul span{ 
        margin-top: 30%;
    }
    .sidebar{
        font-size: 35px;
    }
    .sidebar .Header .IntroText{
        margin-left: 20px;
        font-size: 35px;
    }
    .BtnContainer{
        margin-right: 5vh;
    }

    .scroll--element2 {font-size:20px;}
    .wrap {max-width:95%; height: 30vh;}
    
}
@media (min-width : 800px){
    .IntroText{
        font-size: 40px;
        margin-left: 20px;

    }
    .scroll--element {width: 35%;}
    .scroll--element2 {width: 35%;}
    .sidebar{
        font-size: 40px;
    }
    .sidebar ul{
        margin-top: 20%;
        
    }
    .sidebar ul span {
        display: flex;
        margin-top: 50%;
    }

    .sidebar .Header .IntroText{
        margin-left: 20px;
        font-size: 40px;
    }
    .BtnContainer{
        margin-right: 2vh;
    }

    .scroll--element2 {font-size:25px;}
    .wrap {max-width:95%; height: 35vh;}
}


@media (min-width : 1024px){
    .IntroText{
        font-size: 40px;
        margin-left: 30px;
    }
    
    .scroll--element {width: 30%; height: 30vh;}
    .scroll--element2 {width: 30%;}
    .scroll--element2 {font-size:25px;}
    .wrap {max-width:95%; height: 35vh;}
    .sidebar{
        font-size: 20px;
    }
    .sidebar ul{
        margin-top: 10%;
        font-size: 40px;
    }
    
    .sidebar ul span {
        display: flex;
        margin-top: 20%;
    }

    
    .sidebar .Header .IntroText{
        margin-left: 30px;
        font-size: 40px;
    }

    .BtnContainer{
        margin-right: 3vh;
    }
    
}
@media (min-width :1512px){
    .sidebar .Header .IntroText{
        margin-left: 40px;
    }

    .IntroText{
        margin-left: 40px;
    }

    .BtnContainer{
        margin-right: 5vh;
    }

    .sidebar ul{
        margin-top: 8%;
    }
    
    .sidebar ul span {
        display: flex;
        margin-top: 10%;
    }

    .scroll--element {width: 30%; height: 50vh;}
    .scroll--element2 {width: 30%;}
    .scroll--element2 {font-size:35px;}
    .wrap {max-width:95%; height: 55vh;}

}
@media (min-width :1920px){
    .sidebar .Header .IntroText{
        margin-left: 50px;
    }

    .IntroText{
        margin-left: 50px;
    }

    .BtnContainer{
        margin-right: 5vh;
    }

    .sidebar ul{
        margin-top: 8%;
    }
    
    .sidebar ul span {
        display: flex;
        margin-top: 10%;
    }

    .scroll--element {width: 30%; height: 50vh;}
    .scroll--element2 {width: 30%;}
    .scroll--element2 {font-size:35px;}
    .wrap {max-width:95%; height: 55vh;}

    .TextBox{
        font-size: 40px;
    }
}

@media (min-width :2560px){
    .sidebar .Header .IntroText{
        margin-left: 60px;
    }
    .Header .IntroText{
        margin-left: 60px;
        font-size: 80px;
    }


    .BtnContainer{
        margin-right: 10vh;
    }

    .sidebar .Header .IntroText{
        font-size: 80px;
    }
    .sidebar ul{
        margin-top: 0;
    }
    
    .sidebar ul span {
        display: flex;
        margin-top: 7%;
    }


    .sidebar ul li{
        font-size: 50px;
    }


    .scroll--element {width: 30%; height: 70vh;}
    .scroll--element2 {width: 30%;}
    .scroll--element2 {font-size:60px;}
    .wrap {max-width:95%; height: 80vh;}

    .BtnContainer{
        margin-right: 6vh;
    }
    

}

input#menuicon + label{
    display: block;
    width: 3vh; height: 3vh; 
    cursor: pointer;
}
input#menuicon + label span{
    position: absolute;
    width: 100%; height: 9%;
    background-color: #000;
    transition: all .35s;
}
input#menuicon + label span:nth-child(1){top:0;}
input#menuicon + label span:nth-child(2){top:40%; transform: translateY(-50%);}
input#menuicon + label span:nth-child(3){top:70%;}

.sidebar ul li{
    list-style:none;
    margin-top: 10px;
}
a{
    text-decoration-line: none;
    color: inherit;
}

input#menuicon{display: none;}

input#menuicon + label{overflow: hidden;}



.sidebar{
    width: 100%; height: 100%;
    background-color: #fff;
    position: fixed; top:0;
    right: -300%;
    z-index: 1000;
    transition: all .35s;
    text-align: left;
}

.sidebar input#menuicon + label span{
    margin-top: 1.5%;
}

.sidebar input#menuicon + label span:nth-child(1){
    top:40%; transform: translateY(-50%) rotate(45deg);
}
.sidebar input#menuicon + label span:nth-child(2){
    opacity: 0;
}
.sidebar input#menuicon + label span:nth-child(3){
    top:40%; transform: translateY(-50%) rotate(-45deg);
}


input#menuicon:checked + label + div{
    right: 0;
}

input#menuicon + label + div > ul{
    font-size: 30px;
    margin-top: 100px; margin-right: 50px;

}

input#menuicon + label + div > ul > li{line-height: 80px;}

/* 기본 구조 */
/* .wrap {max-width:95%; height: 25vh; margin:64px auto; overflow-x:auto; white-space:nowrap; } */

/* 가로 스크롤 적용 */
.scroll__wrap {font-size:13px; scroll-snap-type: x mandatory;}
.scroll--element + .scroll--element {margin-left:8px;}
.scroll--element {scroll-snap-align: start; display:inline-block; border-radius: 10px; background:#eeeeee; text-align:center;}
.scroll--element2 {scroll-snap-align: start; display:inline-block; border-radius: 10px; text-align:center;}
.wrap {margin-left: 2.5%; margin-right:2.5%; margin-top: 10%; overflow-x:auto; white-space:nowrap;}
.scroll--element a {
    display: flex;
    padding: 20% 20% 20% 20%;
}
.scroll--element a img{
    width: 100%;
}
.scroll--element2 + .scroll--element2 {margin-left:8px;}
.scroll__wrap2 { font-size:13px; height: 16px; scroll-snap-type: x mandatory;}


.Header{
    display: flex;
    position: sticky;
    justify-content: space-between;
    top: 0;
    right: 0; left: 0;
    width: 100%; 
    background-color: white;
    align-items: center;
    padding: 0;
}

.BtnContainer{
    margin-top: 2.5%;
    display: flex;
    position: relative;
}

.IntroText{
    margin-top: 2.5%;
}

.MainImg a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainImg a img{
    width: 95%;
}

.TextBox{
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    width: 95s%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.TextBox a{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.TextBox2{
    margin-top: 25px;
    margin-left: 3%;   
    margin-bottom: 20px; 
}

.TextBox2 a{

    text-align: justify;
}

.VideoContainer a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.VideoContainer a img{
    margin-top: 125px;
    width: 95%;
}

.sidebar.on{
    right:0;
}

