@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR:wght@300&display=swap');
@font-face {
    font-family: 'Silom';
    src: url('./src/Silom.ttf');
}


body{
    font-family: 'Silom';
}

@media (max-width : 300px) {
    .MainPage{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        width: 70px;
        gap: 5px;
    }

    .MainPage a{
        text-decoration: none;
        font-size: 170%;
        /* color: #E94420; */
        color: #000000;
    }
}
@media (min-width : 300px) {
    .MainPage{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        gap: 5px;
    }

    .MainPage a{
        text-decoration: none;
        font-size: 270%;
        /* color: #E94420; */
        color: #000000;
    }

}

@media (min-width : 600px){
    .MainPage{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 200px;
        gap: 5px;
    }

    .MainPage a{
        text-decoration: none;
        font-size: 270%;
        /* color: #E94420; */
        color: #000000;
    }
}


.MainPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 5px;
}

