@font-face {
    font-family: 'Silom';
    src: url('../../src/Silom.ttf');
}
body{
    font-family: 'Silom';
}

@media (max-width : 300px) {
    .Wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
    .IntroText{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        line-height: 200px;
    }

    .OtherChar{
        margin-top: 7px;
        font-size: 25px;
    }
    
    .HeadChar{
        font-size: 35px;
    }
    .Image img{
        max-width: 100%;
        height: auto;
    }

    .Table{
        display: flex;
        justify-content: center;
    }
    .Table table tr th{
        font-size: 20px;
        height: 40px;        
        font-weight: 100;
        font-style: oblique;
        border-spacing: 2 0em;
        padding-right: 7px;
        padding-left : 7px;
    }
    .Table table tr td{
        font-size: 14px;
    }
    
}
@media (min-width : 300px) {
    .Wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
    .IntroText{
        display: flex;
        font-size: 25px;
        line-height: 200px;
        align-items: center;
        justify-content: center;
    }
    
    .Introduction{
        margin-top: 20px;
    
    }

    .OtherChar{
        margin-top: 7px;
        font-size: 40px;
    }
    
    .HeadChar{
        font-size: 50px;
    }

    .Table{
        display: flex;
        justify-content: center;
    }
    .Table table tr th{
        font-size: 30px;
        height: 40px;        
        font-weight: 100;
        font-style: oblique;
        border-spacing: 2 0em;
        padding-right: 7px;
        padding-left : 7px;
    }
    .Table table tr td{
        font-size: 21px;
        padding-right: 7px;
        padding-left : 7px;
    }
    


}

@media (min-width : 600px){
    .Wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .IntroText{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        line-height: 200px;
    }
    
    .Introduction{
        margin-top: 20px;
    
    }
    
    .OtherChar{
        margin-top: 7px;
        font-size: 40px;
    }
    
    .HeadChar{
        font-size: 50px;
    }

    .Table{
        display: flex;
        justify-content: center;
    }
    .Table table tr th{
        font-size: 50px;
        height: 40px;        
        font-weight: 100;
        font-style: oblique;
        border-spacing: 4 0em;
        padding-right: 10px;
        padding-left : 10px;
    }
    .Table table tr td{
        font-size: 30px;
        padding-right: 10px;
        padding-left : 10px;
    }
}


.HeadWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.HeadContainer{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}

.CurrentPage{
    margin-top: 3%;
    /* margin-right: 5%; */
    display: flex;
}

.CurrentPage a{
    font-size: 30px;
}

.HeadChar  a{
    text-decoration: none;
    color : black;
}

.OtherChar  a{
    text-decoration: none;
    color : grey;
    
}

.OtherChar{
    margin-top: 7px;
    color: grey;
}


.Table{
    display: flex;
    justify-content: center;
}
.Table table tr th{
    font-size: 30px;
    height: 40px;        
    font-weight: 100;
    font-style: oblique;
    border-spacing: 4 0em;
    padding-right: 10px;
    padding-left : 10px;
}
.Table table tr td{
    font-size: 20px;
    padding-right: 10px;
    padding-left : 10px;
}

.LanguageSel{
    display : flex;
    /* justify-content: left; */
    align-items: left;

}

.LanguageSel img{
    border: 0.1mm solid #000000;
}