@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Silom';
    src: url('../../src/Silom.ttf');
}
body{
    font-family: 'Silom';
}


@media (max-width : 300px) {
    .Wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
    .IntroText{
        display: flex;
        font-size: 18px;
        line-height: 200px;
    }

    .OtherChar{
        margin-top: 7px;
        font-size: 25px;
    }
    
    .HeadChar{
        font-size: 35px;
    }
    .Image img{
        max-width: 100%;
        height: auto;
    }
}
@media (min-width : 300px) {
    .Wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
    .IntroText{
        display: flex;
        font-size: 25px;
        line-height: 200px;
    }
    
    .Introduction{
        margin-top: 20px;
    
    }

    .OtherChar{
        margin-top: 7px;
        font-size: 40px;
    }
    
    .HeadChar{
        font-size: 50px;
    }
    .Image img{
        max-width: 100%;
        height: auto;
    }

    .Developer{
        display: flex;
        width: 100%;
        height: 200px;
        gap : 10px;
    }
    .TextContainer a {
        font-size: 18px;
    }

    .TextContainer h2 {
        font-size: 23px;
    }

}

@media (min-width : 600px){
    .Wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .IntroText{
        display: flex;
        font-size: 30px;
        line-height: 200px;
    }
    
    .Introduction{
        margin-top: 20px;
    
    }
    
    .OtherChar{
        margin-top: 7px;
        font-size: 40px;
    }
    
    .HeadChar{
        font-size: 50px;
    }

    .Developer{
        display: flex;
        width: 600px;
        height: 300px;
        gap : 10px;
    }

    .TextContainer a {
        font-size: 20px;
    }

    .TextContainer h2 {
        font-size: 30px;
    }

}

.HeadWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.HeadContainer{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}

.CurrentPage{
    margin-top: 3%;
    display: flex;

}

.CurrentPage a{
    font-size: 30px;
}

.HeadChar  a{
    text-decoration: none;
    color : black;
}

.OtherChar  a{
    text-decoration: none;
    color : grey;
    
}



.ImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImageContainer img{
    max-width: 300px;
    height: 250px;
}


.TextContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

}


.LanguageSel img{
    border: 0.1mm solid #000000;
}
.LanguageSel{
    display : flex;
    /* justify-content: left; */
    align-items: left;

}