@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR:wght@300&display=swap');
@font-face {
    font-family: 'Silom';
    src: url('../../src/Silom.ttf');
}


body{
    font-family: 'Silom';
}

@media (max-width : 300px) {
    .MainPage{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
        width: 100px;
        gap: 5px;
    }

    .MainPage a{
        text-decoration: none;
        font-size: 150%;
        /* color: #E94420; */
        color: #000000;
    }
    .MainURL{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top : -20vh;
        font-size: 80%;
    }
    
}
@media (min-width : 300px) {
    .MainPage{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 100%;
        gap: 5px;
    }

    .MainPage a{
        text-decoration: none;
        font-size: 230%;
        /* color: #E94420; */
        color: #000000;
    }

}

@media (min-width : 600px){
    .MainPage{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 200px;
        gap: 5px;
    }

    .MainPage a{
        text-decoration: none;
        font-size: 270%;
        /* color: #E94420; */
        color: #000000;
    }
}


.MainPage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.MainURL{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
    margin-top : -20vh;
}


.LanguageSel img{
    border: 0.1mm solid #000000;
}

.LanguageSel{
    display : flex;
    /* justify-content: left; */
    align-items: left;

}