html, body {margin: 0px; padding: 0px;}

@font-face{
    font-family: 'SBF';
    src: url('../src/SBF.otf');
}

.Header{
    font-family: 'SBF';
}

.sidebar{
    font-family: 'SBF';
}

body{
    font-family: 'SBF';
}

@media (max-width : 300px) {
    .IntroText{
        font-size: 15px;
        margin-top: 20px;
        margin-left: 3%;
    }        
    .sidebar{
        font-size: 15px;
    }
    .sidebar ul{
        margin-top: 20%;
        
    }
    .sidebar ul span {
        display: flex;
        margin-top: 70%;
    }
    
    .BtnContainer{
        width: 15px;
        height: 15px;
        margin-right: 1.5vh;
    }
    
    .sidebar .Header .IntroText{
        margin-left: 3%;
        font-size: 15px;
    }
    .BodyText a{
        font-size: 15px;
    }

    .MenuText a{
        font-size: 15px;
    }
    .ImageContainer a img{
        width: 95%;
    }
}
@media (min-width : 300px) {
    .IntroText{
        font-size: 22px;
        margin-left: 1.5vh;

    }
    .sidebar{
        font-size: 22px;
    }

    .sidebar ul{
        margin-top: 20%;
        
    }
    .sidebar ul span {
        display: flex;
        margin-top: 65%;
    }
    
    .BtnContainer{
        width: 20px;
        height: 20px;
        margin-right: 1.5vh;
    }
    .sidebar .Header .IntroText{
        margin-left: 1.5vh;
    }   
    .BodyText a{
        font-size: 22px;
    }

    .MenuText a{
        font-size: 22px;
    }
    .ImageContainer a img{
        width: 95%;
    }
}

@media (min-width : 540px){
    .sidebar ul{
        margin-top: 15%;
    }
    .IntroText{
        margin-left: 2vh;
    }
    .sidebar .Header .IntroText{
        margin-left: 2vh;
    }
    .sidebar ul span {
        display: flex;
        margin-top: 45%;
    }
    .BtnContainer{
        margin-right: 2vh;
    }
    .ImageContainer a img{
        width: 95%;
    }
}
@media (min-width : 600px){
    .IntroText{
        font-size: 27px;
        margin-left: 20px;

    }
    .sidebar{
        font-size: 19px;
    }
    .sidebar ul{
        margin-top: 15%;
    }
    .sidebar ul span {
        display: flex;
        margin-top: 50%;
    }

    .sidebar .Header .IntroText{
        margin-left: 20px;
    }
    
    .BtnContainer{
        margin-right: 4.5vh;
    }
    .BodyText a{
        font-size: 20px;
    }

    .MenuText a{
        font-size: 20px;
    }
    .ImageContainer a img{
        width: 95%;
    }
}
@media (min-width : 768px){
    .IntroText{
        margin-left: 20px;
        font-size: 35px;
    }

    .sidebar ul span{ 
        margin-top: 30%;
    }
    .sidebar{
        font-size: 35px;
    }
    .sidebar .Header .IntroText{
        margin-left: 20px;
        font-size: 35px;
    }
    .BtnContainer{
        margin-right: 2vh;
    }
    .BodyText a{
        font-size: 25px;
    }

    .MenuText a{
        font-size: 25px;
    }
    .ImageContainer a img{
        width: 95%;
    }
}
@media (min-width : 800px){
    .IntroText{
        font-size: 40px;
        margin-left: 20px;

    }
    .sidebar{
        font-size: 40px;
    }
    .sidebar ul{
        margin-top: 20%;
        
    }
    .sidebar ul span {
        display: flex;
        margin-top: 50%;
    }

    .sidebar .Header .IntroText{
        margin-left: 20px;
        font-size: 40px;
    }
    .BtnContainer{
        margin-right: 2vh;
    }
    .ImageContainer a img{
        width: 95%;
    }
}

@media (min-width : 960px){
    .sidebar{
        font-size: 30px;
    }
    .sidebar ul{
        margin-top: 15%;
        
    }
    .sidebar ul span {
        display: flex;
        margin-top: 30%;
    }
}

@media (min-width : 1024px){
    .IntroText{
        font-size: 40px;
        margin-left: 30px;
    }
    
    .sidebar{
        font-size: 20px;
    }
    .sidebar ul{
        margin-top: 10%;
        font-size: 40px;
    }
    
    .sidebar ul span {
        display: flex;
        margin-top: 20%;
    }

    
    .sidebar .Header .IntroText{
        margin-left: 30px;
        font-size: 40px;
    }

    .BtnContainer{
        margin-right: 3vh;
    }
    .BodyText a{
        font-size: 30px;
    }

    .MenuText a{
        font-size: 30px;
    }
    .ImageContainer a img{
        width: 45%;
    }
    
}


@media (min-width :1440px){

    .BodyText a{
        font-size: 40px;
    }

    .MenuText a{
        font-size: 40px;
    }
    .ImageContainer a img{
        width: 45%;
    }
}

@media (min-width :1920px){
    .sidebar .Header .IntroText{
        margin-left: 50px;
    }

    .IntroText{
        margin-left: 50px;
    }

    .BtnContainer{
        margin-right: 5vh;
    }

    .sidebar ul{
        margin-top: 8%;
    }
    
    .sidebar ul span {
        display: flex;
        margin-top: 10%;
    }
    .BodyText a{
        font-size: 45px;
    }

    .MenuText a{
        font-size: 45px;
    }
    .ImageContainer a img{
        width: 45%;
    }
}

@media (min-width :2560px){
    .Header .IntroText{
        margin-left: 60px;
        font-size: 80px;
    }


    .BtnContainer{
        margin-right: 10vh;
    }

    .sidebar .Header .IntroText{
        font-size: 80px;
    }
    .sidebar ul{
        margin-top: 0;
    }
    
    .sidebar ul span {
        display: flex;
        margin-top: 7%;
    }


    .sidebar ul li{
        font-size: 50px;
    }
    .BodyText a{
        font-size: 50px;
    }

    .MenuText a{
        font-size: 50px;
    }
    .ImageContainer a img{
        width: 45%;
    }
}

input#menuicon + label{
    display: block;
    width: 3vh; height: 3vh; 
    cursor: pointer;
}
input#menuicon + label span{
    position: absolute;
    width: 100%; height: 9%;
    background-color: #000;
    transition: all .35s;
}
input#menuicon + label span:nth-child(1){top:0;}
input#menuicon + label span:nth-child(2){top:40%; transform: translateY(-50%);}
input#menuicon + label span:nth-child(3){top:70%;}


.sidebar ul li{
    list-style:none;
    margin-top: 10px;
}
a{
    text-decoration-line: none;
    color: inherit;
}

input#menuicon{display: none;}

input#menuicon + label{overflow: hidden;}



.sidebar{
    width: 100%; height: 150%;
    background-color: #fff;
    position: fixed; top:0;
    right: -300%;
    z-index: 1000;
    transition: all .35s;
    text-align: left;

}


.sidebar input#menuicon + label span:nth-child(1){
    top:40%; transform: translateY(-50%) rotate(45deg);
}
.sidebar input#menuicon + label span:nth-child(2){
    opacity: 0;
}
.sidebar input#menuicon + label span:nth-child(3){
    top:40%; transform: translateY(-50%) rotate(-45deg);
}


input#menuicon:checked + label + div{
    right: 0;
}

input#menuicon + label + div > ul{
    font-size: 30px;
    margin-top: 100px; margin-right: 50px;

}

input#menuicon + label + div > ul > li{line-height: 80px;}


.Header{
    display: flex;
    position: sticky;
    justify-content: space-between;
    top: 0;
    right: 0; left: 0;
    width: 100%; 
    background-color: white;
    padding: 0;
}

.BtnContainer{
    margin-top: 2.5%;
    display: flex;
    position: relative;
}


.IntroText{
    margin-top: 2.5%;
}


.ImageContainer{
    margin-top: 20px;
    flex-direction: column;
}
.ImageContainer a{
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.BodyText{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
    margin-top: 1%;
}

.MenuText{
    width: 20%;
    height: 10%;
    padding-top: 20%;
    margin-left: 5%;
    display: flex;
}


.sidebar.on{
    right:0;
}
/* navbar 아래로 오는 class는 무족권 margin-top or padding-top 100px 주기 */